@model CategoryVM;

<div class="row">
    <div class="col-6">
        <h2>NEW CATEGORY</h2>
        <hr/>
        <form action="/Category/AddUpdate" method="post">
            <input type="hidden" asp-for="CategoryId" />
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" asp-for="Name" autocomplete="off">
            </div>

            @if(ViewBag.message != null)
                {
                <div class="alert alert-success" role="alert">
                    @ViewBag.message 
                </div>
                }
                <div class="d-grid gap-2 d-md-block mt-4">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a href="/Category/Index" class="btn btn-warning">Back</a>
                </div>
            </form>
    </div>

</div>